.nav {
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #101c26;
  /* background-color: rgb(228, 228, 228); */
  z-index: 100;
  position: sticky;
}
.logoContainner {
  flex: 1;
  max-width: 300px;
  min-width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #101c26;
  padding-left: 10px;
}
.logoContainner img {
  height: 90%;
}
.navLinks {
  flex: 2;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 470px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  background-color: var(--white);
  transition: 0.2s;
}

.navLink {
  position: relative;
  height: 40px;
  min-width: 60px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.navLink img {
  max-height: 100%;
  /* filter: invert(1); */
}
.navLink span {
  position: absolute;
  background-color: rgb(204, 204, 204);
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(5, 145, 40);
  font-weight: 600;
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  top: 0%;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s;
}
.navLink:hover span {
  top: 120%;
  transition: 0.2s;
}
.navLinks:hover {
  transition: 0.2s;
  /* transform: scale(1.05); */
  box-shadow: black 10px 0px 30px;
  max-width: 520px;
}
.navLinks:hover .navLink {
}

.clientInfo {
  flex: 1;
  max-width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clientPfp {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-width: 2px;
  border-style: solid;
  border-color: var(--green);
}
.clientPfp img {
  height: 50px;
}
.clientName {
  color: whitesmoke;
  font-size: 15px;
  margin-left: 10px;
  font-weight: 500;
}
.navMenuContainner {
  display: none;
}
.menuIcon {
  display: none;
}
