@media screen and (max-width: 400px) {
  .browseAnimeList {
    justify-content: center;
  }
  .animeBox {
    margin: 6px;
    width: 95px;
    height: 185px;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 0px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--dark);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--green);
  }
}
